{% extends "base.html" %}

{% block maincontent %}
<h1>Available Webinars and Workshops </h1>

    <table border="0" aria-modal="true">
    <tr>
        <td>RHEL8 Technical Overview</td>
    </tr>
    <tr>
        <td>Automation with Ansible Technical Overview</td>
    </tr>
    <tr>
        <td>Middleware Technical Overview</td>
    </tr>
    <tr>
        <td>Cloud with Openstack Technical Overview</td>
    </tr>
    <tr>
        <td>Red Hat Storage Solutions Technical Overview</td>
    </tr>
    <tr>
        <td>Openshift 4.5 for Developers Technical Overview</td>
    </tr>
    <tr>
        <td>Openshift 4.5 for Administrators Technical Overview</td>
    </tr>

    </table>

{% endblock %}
